.group {
  border: 2px solid black;
}

.about {
  padding: 10px;
  height: auto;
  border: 1px solid blue;
  display: flex;

}

.aboutpic {
  border: 1px dashed red;
  float: left;
}

.aboutbts {
  margin : auto 20px;

}

.text1 {
  text-align: left;
  font-size: 30px;

}

.member {
  text-align: center;
  color: white;
  display: flex;
}

li {
  margin: 10px 0;
}

.memberimg {
  border: 1px solid white;
}

li img {
  width: 300px;
  height: 300px;
}

.memberinfo {
    margin : auto 20px;
    background-color: blue;
    font-size: 50px;
    font-weight: 500;
}