.group {
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
}

.aboutpic {
  float: left;
  margin: auto;
  margin-bottom: 20px;
}

.aboutbts {
  margin : auto 20px;
}

.text1 {
  text-align: left;
  font-size: 30px;

}

.member {
  text-align: center;
}

li {
  margin: 10px 0;
}

.member1 {
  display: flex;
}

li img {
  width: 300px;
  height: 300px;
}

.memberinfo {
    margin : auto 20px;
    font-size: 50px;
    font-weight: 500;
    text-align: left;
}