

.uppergroup {

  height: auto;
  display: flex;
}

.uppergroup-img {
  float: left;
  margin: auto;
}

.uppergroup-right {
  margin: auto 20px;
}

.box1 {
  color: white;
}

.box2 {
  color: white;
  width : 600px;
  ;
}

.subtitle {
  border-bottom: 1px dotted rgb(167, 167, 167);
  margin-bottom: 10px;
  padding-left: 10px;
  color: lightgray;
}



.box3 {
  white-space: pre-line;
  color: white;
  width: 600px;
  text-align: right;
  float: right;
}

span {
  font-size: 30px;
}

td {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}