.b-wrapper {
  border: 2px solid slateblue;
}

.box1{
  border: 2px solid seagreen;
  width: 800px;
}

.text-1-n{
  border: 1px solid red;
  width: 300px;
}

.text-1-c {
  border: 1px solid greenyellow;
}

.text-2 {
  color: blueviolet;
  font-weight: bold;
  margin-top: -0.5rem;
}

.textarea{
  resize: none;
}

.reset {
  margin: 10px;
}

.list {
  border: 2px solid white;
}