.b-wrapper {
  color: white;
}

.form{
  width: 800px;
  margin: 10px auto;
}

.text-1-n{
  width: 300px;
}

.text-1-c {
  margin-top: 10px;
}

.text-2 {
  color: #d09eff;
  font-weight: bold;
  margin-top: -0.5rem;
}

.textarea{
  resize: none;
}

.reset {
  margin: 10px;
}

.list {
  border: 2px solid white;
  color: white;
  border-radius: 25px;
}