@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.wrapper {
    margin: 0px auto;
}

.titlefont {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
    text-align: left;
}
.contentfont {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

body {
    background: url("../../public/images/HYYHbts.jpeg");
    /* background-color:rgb(32, 31, 31); */
    background-size: cover;
    width: 1000px;
    align-items: center;
}

li {
    list-style: none;
}
