@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


.nav li {
    padding: 10px 20px 10px 20px;
    font-size: 40px;
}

.nav {
    margin: 0px auto;
}

a.nav-link {
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 35px;
}